@import 'props'

body
    // background-color: black
    font-family: $Family
    font-size: $FontSize
.judul-change, .judul-content,.img-banner, img
    transition: all 2s
.navbar
    background: transparent
    .navbar-menu
        .navbar-item
            color: white
            font-weight: $WeightsBold

.columns
    margin: 0 !important
.images
    height: 100%
    width: 100%
    object-fit: fill
.judul
    font-weight: $WeightsBold
    color: black
.content
    color: $VeryDarkGray
    line-height: 1.33rem
.shop
    color: black
    letter-spacing: .76rem
    font-weight: $WeightsBold
.banner
    position: relative
.arrow
    position: absolute
    right: 280px
    bottom: 6px

    .arrow-container
        display: flex
        flex-direction: row

        .arrow-left, .arrow-right
            background-color: black
            padding: 15px 25px

            img
                transform: scale(1.2)

@media screen and (max-width: $Mobile)

    .navbar
        position: relative
        .navbar-brand
            flex-direction: row-reverse
            justify-content: stretch
            .navbar-item
                margin-right: auto
                margin-left: -40px
            .navbar-burger
                z-index: 1000
                margin-right: auto
                margin-left: 0
                transition: margin .1s
                &.is-active
                    margin-top: 12px
        .navbar-menu
            position: absolute
            top: 0
            width: 100%
            box-sizing: border-box
            padding-left: 40px
            .navbar-start
                &.mobile
                    display: flex
                    flex-direction: row
                    justify-content: space-around
                    height: 60px
                    align-items: center
    .container
        margin: 20px

    .arrow
        position: absolute
        right: 0
        bottom: 6px
@media screen and ( min-width: $Mobile  )
    .navbar
        padding: 40px 60px
        .navbar-brand
            margin-right: 30px
    .wrapper
        max-width: $Desktop
        margin: 0 auto
    .container
        margin: 60px 55px
    .arrow
        position: absolute
        right: -128px
        bottom: 0
